includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        - '#^Property .* is never read, only written\.$#'
